/* ------------------------------------------------------------------------------------------------ */
/* CSS Reset */
/* ------------------------------------------------------------------------------------------------ */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* ------------------------------------------------------------------------------------------------ */
/* Custom Properties */
/* ------------------------------------------------------------------------------------------------ */

:root {
    --red: #e4000f;
    --darkred: #c51621;
    --grey: rgb(218, 218, 218);
    --fontcolor: rgb(72, 72, 72);
    --bg: white;
    --margin-standard: 1em;
    --font-regular:400;
    --font-bold:600;
    --divider:.05em;
    --reset: 0;
}


/* ------------------------------------------------------------------------------------------------ */
/* General CSS */
/* ------------------------------------------------------------------------------------------------ */


:focus {
    outline: 3px dashed black;
    outline-offset: 2px;
}

html,body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--font-regular);
    overflow-x: hidden;
    position: static;
    color: var(--fontcolor);
    background-color: var(--bg);
}

header {
    background-color: var(--red);
    height: 3em;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header img {
    height:3em;
}

a {
    text-decoration: none;
    background-color: var(--red);
    padding:0.7em 25%;
    border-radius: .25em;
    font-size: larger;
    font-weight: var(--font-bold);
    color: var(--bg);
    margin: 1em 0;
    cursor: pointer;
    transition: 0.2s;
}

h1 {
    font-size: 1.5em;
    font-weight: var(--font-bold);
    margin: 0 0;
    text-align: center;
    background: linear-gradient(rgb(255, 249, 250), rgb(255, 249, 225));
    padding: 1em 1em 3em 1em;
    filter:brightness(.9) ;
    width: 100%;
}

h2 {
    font-weight: var(--font-bold);
    margin-left: .5em;
    margin-top: .5em;
}

section {
    border-top: var(--divider) solid var(--grey);
    padding: 1em 0 1em 0;
}

@keyframes bounce-animation {
    0% {
      background-color: var(--red);
      transform: scaleY(1);
    }
    40% {
      transform:scaleY(1.2)
    }
    
    60% {
      transform: scaleY(1.5);
      transform: scaleX(1.05);
    }
  
    100% {
      background-color: var(--darkred);
      transform: scaleY(1.2);
      transform: scaleX(1);
      transform: scale(1.02);
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* ------------------------------------------------------------------------------------------------ */
/* Pagina 1 (index.html) */
/* ------------------------------------------------------------------------------------------------ */
/* //////////////////////////////////////////////////////////////////////////////////////////////// */


/* ------------------------------------------------------------------------------------------------ */
/* Banner section */
/* ------------------------------------------------------------------------------------------------ */

section:nth-of-type(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:var(--margin-standard);
}

section:nth-of-type(1)>img {
    width: 100%; 
}

section:nth-of-type(1) a {
    position: absolute;
    top:71%;
}

section:nth-of-type(1) a:hover {
    animation-name: bounce-animation;
    animation-timing-function: ease-out;
    animation-duration: .5s;
    transition-delay: .5s;
    transform: scale(1.02);
    background-color: var(--darkred);
}

section:first-of-type>img:nth-of-type(2) {
    width:70%;
    margin-top: var(--margin-standard);
}

/* ------------------------------------------------------------------------------------------------ */
/* Featured section */
/* ------------------------------------------------------------------------------------------------ */

section:nth-of-type(2) ul {
    display: flex;
    gap: var(--margin-standard);
    overflow: scroll;
    margin: 1em 0 1em 0;
}

section:nth-of-type(2)>ul>li {
    list-style-type: none;
    border: var(--divider) solid var(--grey);
    border-radius: .3em;
    width: 15em;
    margin-top: .5em;
    padding-bottom: 1em;
    transition:.2s;
    min-height: 16em; /*Houdt het verspringen van de section tegen bij de transition */
}

section:nth-of-type(2)>ul>li:hover {
    margin-top: 0;
    color: var(--red);
}

section:nth-of-type(2)>ul>li:first-of-type {
    margin-left: var(--margin-standard);
}

section:nth-of-type(2)>ul>li:last-of-type {
    margin-right: var(--margin-standard);
}

section:nth-of-type(2)>ul>li>img {
    width:inherit;
    border-radius: .3em .3em 0 0;
}

section:nth-of-type(2)>ul>li>p,
section:nth-of-type(2)>ul>li>h3 {
    margin:.5em 1em;
}

section:nth-of-type(2)>ul>li>p {
    border-left: .2em solid var(--red);
    padding-left: .25em;
}


/* ------------------------------------------------------------------------------------------------ */
/* Store section */
/* ------------------------------------------------------------------------------------------------ */

article:first-of-type {
    border-top: var(--divider) solid var(--grey);
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
}

article:first-of-type img {
    margin: var(--margin-standard);
}

article:first-of-type p {
    font-size: large;
    font-weight: var(--font-bold);
    margin: var(--margin-standard);
}

article:first-of-type a {
    padding: 0.7em 30%;
    align-self: center;
}

main>article>a:hover {
    animation-name: bounce-animation;
    animation-timing-function: ease-out;
    animation-duration: .5s;
    transition-delay: .5s;
    transform: scale(1.02);
    background-color: var(--darkred);
}


/* ------------------------------------------------------------------------------------------------ */
/* News Section */
/* ------------------------------------------------------------------------------------------------ */


section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(3) article {
    margin:var(--margin-standard);
    border-top: var(--reset);
}

section:nth-of-type(3) article img {
    border-radius: .3em;
    margin: var(--reset);
}

section:nth-of-type(3) article a {
    margin: var(--reset);
    font-size: medium;
    align-self: baseline;
}

section:nth-of-type(3) article p {
    font-weight: var(--font-regular);
    margin: 1em 0 1em 0;
}

section:nth-of-type(3) ul p {
    font-weight: var(--font-regular);
    font-size: small;
}

section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: 10em 10em;
    grid-row: auto auto;
    grid-column-gap: 1.5em;
    grid-row-gap: var(--margin-standard);
    list-style-type: none;
    justify-content: center;
    margin-top: var(--margin-standard);
}

section:nth-of-type(3) li {
    width:10em;
}

section:nth-of-type(3) li img {
    width: 10em;
    border-radius: .3em;
}

section:nth-of-type(3) img:hover {
    cursor: pointer;
    filter: brightness(70%);
}

section:nth-of-type(3) a {
    font-size: small;
    padding: var(--reset);
    background-color: var(--bg);
    color: var(--red);
    text-decoration: underline;
}

section:nth-of-type(3) ul h3 {
    font-size: small;
    font-weight: var(--font-bold);
}

section:nth-of-type(3)>a {
    align-self: center;
    justify-self: center;
    background-color: var(--red);
    padding:0.7em 20%;
    border-radius: .25em;
    font-size: larger;
    font-weight: var(--font-bold);
    color: var(--bg);
    cursor: pointer;
    text-decoration: none;
}

section:nth-of-type(3)>a:hover {
    animation-name: bounce-animation;
    animation-timing-function: ease-out;
    animation-duration: .5s;
    transition-delay: .5s;
    transform: scale(1.02);
    background-color: var(--darkred);
}




/* ------------------------------------------------------------------------------------------------ */
/* Characters tile section */
/* ------------------------------------------------------------------------------------------------ */


section:nth-of-type(4) ul {
    display: grid;
    grid-template-columns: 10em 10em;
    grid-row: auto auto;
    grid-column-gap: 1.5em;
    grid-row-gap: var(--margin-standard);
    list-style-type: none;
    justify-content: center;
    margin-top: var(--margin-standard);
}

section:nth-of-type(4) li {
    position: relative;
    overflow: hidden;
}

section:nth-of-type(4) img {
    width: 10em;
}

section:nth-of-type(4) div {
    width:10em;
    height:10em;
    border-radius: .25em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

section:nth-of-type(4) img:first-of-type {
    scale: 1.3;
    transition: 0.4s;
}

section:nth-of-type(4) img:nth-of-type(2) {
    position:absolute;
    top:0;
    left:0;
    transition: .4s;
}

section:nth-of-type(4) div:hover img:nth-of-type(2),
section:nth-of-type(4) div:active img:nth-of-type(2) {
    scale:1.2;
}

section:nth-of-type(4) div:hover img:nth-of-type(1),
section:nth-of-type(4) div:active img:nth-of-type(1) {
    scale:1;
}

section:nth-of-type(4) h3 {
    font-weight: var(--font-bold);
    width:80%;
}

